body {
    font-style:initial;
    background-color:bisque;
    font-size:larger;
}

.item {
    align-items: center;
    text-align: justify;
    float: left;
    margin-right: 10px;
}
.item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10%;
    margin-bottom: 10px;
    float: left;
}